USE [master]
GO
/****** Object:  Database [EUREKABANK]    Script Date: 04/12/2025 7:29:51 ******/
CREATE DATABASE [EUREKABANK]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EUREKABANK_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EUREKABANK.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EUREKABANK_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EUREKABANK.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EUREKABANK].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EUREKABANK]
GO
/****** Object:  Table [dbo].[Asignado]    Script Date: 04/12/2025 7:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asignado](
	[chr_asigcodigo] [char](6) NOT NULL,
	[chr_sucucodigo] [char](3) NOT NULL,
	[chr_emplcodigo] [char](4) NOT NULL,
	[dtt_asigfechaalta] [datetime] NOT NULL,
	[dtt_asigfechabaja] [datetime] NULL,
 CONSTRAINT [PK_Asignado] PRIMARY KEY CLUSTERED 
(
	[chr_asigcodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CargoMantenimiento]    Script Date: 04/12/2025 7:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CargoMantenimiento](
	[chr_monecodigo] [char](2) NOT NULL,
	[dec_cargMontoMaximo] [money] NOT NULL,
	[dec_cargImporte] [money] NOT NULL,
 CONSTRAINT [PK_CargoMantenimiento] PRIMARY KEY CLUSTERED 
(
	[chr_monecodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 04/12/2025 7:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[chr_cliecodigo] [char](5) NOT NULL,
	[vch_cliepaterno] [varchar](25) NOT NULL,
	[vch_cliematerno] [varchar](25) NOT NULL,
	[vch_clienombre] [varchar](30) NOT NULL,
	[chr_cliedni] [char](8) NOT NULL,
	[vch_clieciudad] [varchar](30) NOT NULL,
	[vch_cliedireccion] [varchar](50) NOT NULL,
	[vch_clietelefono] [varchar](20) NULL,
	[vch_clieemail] [varchar](50) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[chr_cliecodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contador]    Script Date: 04/12/2025 7:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contador](
	[vch_conttabla] [varchar](30) NOT NULL,
	[int_contitem] [int] NOT NULL,
	[int_contlongitud] [int] NOT NULL,
 CONSTRAINT [PK_Contador] PRIMARY KEY CLUSTERED 
(
	[vch_conttabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CostoMovimiento]    Script Date: 04/12/2025 7:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CostoMovimiento](
	[chr_monecodigo] [char](2) NOT NULL,
	[dec_costimporte] [money] NOT NULL,
 CONSTRAINT [PK_CostoMovimiento] PRIMARY KEY CLUSTERED 
(
	[chr_monecodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuenta]    Script Date: 04/12/2025 7:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuenta](
	[chr_cuencodigo] [char](8) NOT NULL,
	[chr_monecodigo] [char](2) NOT NULL,
	[chr_sucucodigo] [char](3) NOT NULL,
	[chr_emplcreacuenta] [char](4) NOT NULL,
	[chr_cliecodigo] [char](5) NOT NULL,
	[dec_cuensaldo] [money] NOT NULL,
	[dtt_cuenfechacreacion] [datetime] NOT NULL,
	[vch_cuenestado] [varchar](15) NOT NULL,
	[int_cuencontmov] [int] NOT NULL,
	[chr_cuenclave] [char](6) NOT NULL,
 CONSTRAINT [PK_Cuenta] PRIMARY KEY CLUSTERED 
(
	[chr_cuencodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 04/12/2025 7:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[chr_emplcodigo] [char](4) NOT NULL,
	[vch_emplpaterno] [varchar](25) NOT NULL,
	[vch_emplmaterno] [varchar](25) NOT NULL,
	[vch_emplnombre] [varchar](30) NOT NULL,
	[vch_emplciudad] [varchar](30) NOT NULL,
	[vch_empldireccion] [varchar](50) NULL,
	[vch_emplusuario] [varchar](15) NOT NULL,
	[vch_emplclave] [varchar](15) NOT NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[chr_emplcodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InteresMensual]    Script Date: 04/12/2025 7:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InteresMensual](
	[chr_monecodigo] [char](2) NOT NULL,
	[dec_inteimporte] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK_InteresMensual] PRIMARY KEY CLUSTERED 
(
	[chr_monecodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Moneda]    Script Date: 04/12/2025 7:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Moneda](
	[chr_monecodigo] [char](2) NOT NULL,
	[vch_monedescripcion] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Moneda] PRIMARY KEY CLUSTERED 
(
	[chr_monecodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movimiento]    Script Date: 04/12/2025 7:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimiento](
	[chr_cuencodigo] [char](8) NOT NULL,
	[int_movinumero] [int] NOT NULL,
	[dtt_movifecha] [datetime] NOT NULL,
	[chr_emplcodigo] [char](4) NOT NULL,
	[chr_tipocodigo] [char](3) NOT NULL,
	[dec_moviimporte] [money] NOT NULL,
	[chr_cuenreferencia] [char](8) NULL,
 CONSTRAINT [PK_Movimiento] PRIMARY KEY CLUSTERED 
(
	[chr_cuencodigo] ASC,
	[int_movinumero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parametro]    Script Date: 04/12/2025 7:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parametro](
	[chr_paracodigo] [char](3) NOT NULL,
	[vch_paradescripcion] [varchar](50) NOT NULL,
	[vch_paravalor] [varchar](70) NOT NULL,
	[vch_paraestado] [varchar](15) NOT NULL,
 CONSTRAINT [PK_Parametro] PRIMARY KEY CLUSTERED 
(
	[chr_paracodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sucursal]    Script Date: 04/12/2025 7:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sucursal](
	[chr_sucucodigo] [char](3) NOT NULL,
	[vch_sucunombre] [varchar](50) NOT NULL,
	[vch_sucuciudad] [varchar](30) NOT NULL,
	[vch_sucudireccion] [varchar](50) NULL,
	[int_sucucontcuenta] [int] NOT NULL,
	[dec_sululatitud] [decimal](10, 7) NULL,
	[dec_suculongitud] [decimal](10, 7) NULL,
	[bit_sucuisactive] [bit] NOT NULL DEFAULT 1,
 CONSTRAINT [PK_Sucursal] PRIMARY KEY CLUSTERED 
(
	[chr_sucucodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoMovimiento]    Script Date: 04/12/2025 7:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoMovimiento](
	[chr_tipocodigo] [char](3) NOT NULL,
	[vch_tipodescripcion] [varchar](40) NOT NULL,
	[vch_tipoaccion] [varchar](10) NOT NULL,
	[vch_tipoestado] [varchar](15) NOT NULL,
 CONSTRAINT [PK_TipoMovimiento] PRIMARY KEY CLUSTERED 
(
	[chr_tipocodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Asignado] ([chr_asigcodigo], [chr_sucucodigo], [chr_emplcodigo], [dtt_asigfechaalta], [dtt_asigfechabaja]) VALUES (N'000001', N'001', N'0004', CAST(N'2007-11-15T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Asignado] ([chr_asigcodigo], [chr_sucucodigo], [chr_emplcodigo], [dtt_asigfechaalta], [dtt_asigfechabaja]) VALUES (N'000002', N'002', N'0001', CAST(N'2007-11-20T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Asignado] ([chr_asigcodigo], [chr_sucucodigo], [chr_emplcodigo], [dtt_asigfechaalta], [dtt_asigfechabaja]) VALUES (N'000003', N'003', N'0002', CAST(N'2007-11-28T00:00:00.000' AS DateTime), NULL)
GO
INSERT [dbo].[CargoMantenimiento] ([chr_monecodigo], [dec_cargMontoMaximo], [dec_cargImporte]) VALUES (N'01', 3500.0000, 7.0000)
INSERT [dbo].[CargoMantenimiento] ([chr_monecodigo], [dec_cargMontoMaximo], [dec_cargImporte]) VALUES (N'02', 1200.0000, 2.5000)
GO
INSERT [dbo].[Cliente] ([chr_cliecodigo], [vch_cliepaterno], [vch_cliematerno], [vch_clienombre], [chr_cliedni], [vch_clieciudad], [vch_cliedireccion], [vch_clietelefono], [vch_clieemail]) VALUES (N'00001', N'CORONEL', N'CASTILLO', N'ERIC GUSTAVO', N'06914897', N'LIMA', N'LOS OLIVOS', N'9666-4457', N'gcoronel@viabcp.com')
INSERT [dbo].[Cliente] ([chr_cliecodigo], [vch_cliepaterno], [vch_cliematerno], [vch_clienombre], [chr_cliedni], [vch_clieciudad], [vch_cliedireccion], [vch_clietelefono], [vch_clieemail]) VALUES (N'00002', N'VALENCIA', N'MORALES', N'PEDRO HUGO', N'01576173', N'LIMA', N'MAGDALENA', N'924-7834', N'pvalencia@terra.com.pe')
INSERT [dbo].[Cliente] ([chr_cliecodigo], [vch_cliepaterno], [vch_cliematerno], [vch_clienombre], [chr_cliedni], [vch_clieciudad], [vch_cliedireccion], [vch_clietelefono], [vch_clieemail]) VALUES (N'00003', N'MARCELO', N'VILLALOBOS', N'RICARDO', N'10762367', N'LIMA', N'LINCE', N'993-62966', N'ricardomarcelo@hotmail.com')
GO
INSERT [dbo].[Contador] ([vch_conttabla], [int_contitem], [int_contlongitud]) VALUES (N'Asignado', 11, 6)
INSERT [dbo].[Contador] ([vch_conttabla], [int_contitem], [int_contlongitud]) VALUES (N'Cliente', 21, 5)
INSERT [dbo].[Contador] ([vch_conttabla], [int_contitem], [int_contlongitud]) VALUES (N'Empleado', 11, 4)
GO
INSERT [dbo].[CostoMovimiento] ([chr_monecodigo], [dec_costimporte]) VALUES (N'01', 2.0000)
INSERT [dbo].[CostoMovimiento] ([chr_monecodigo], [dec_costimporte]) VALUES (N'02', 0.6000)
GO
INSERT [dbo].[Cuenta] ([chr_cuencodigo], [chr_monecodigo], [chr_sucucodigo], [chr_emplcreacuenta], [chr_cliecodigo], [dec_cuensaldo], [dtt_cuenfechacreacion], [vch_cuenestado], [int_cuencontmov], [chr_cuenclave]) VALUES (N'00100001', N'01', N'001', N'0004', N'00005', 6716.0000, CAST(N'2008-01-06T00:00:00.000' AS DateTime), N'ACTIVO', 17, N'123456')
INSERT [dbo].[Cuenta] ([chr_cuencodigo], [chr_monecodigo], [chr_sucucodigo], [chr_emplcreacuenta], [chr_cliecodigo], [dec_cuensaldo], [dtt_cuenfechacreacion], [vch_cuenestado], [int_cuencontmov], [chr_cuenclave]) VALUES (N'00100002', N'02', N'001', N'0004', N'00005', 4560.0000, CAST(N'2008-01-08T00:00:00.000' AS DateTime), N'ACTIVO', 11, N'123456')
INSERT [dbo].[Cuenta] ([chr_cuencodigo], [chr_monecodigo], [chr_sucucodigo], [chr_emplcreacuenta], [chr_cliecodigo], [dec_cuensaldo], [dtt_cuenfechacreacion], [vch_cuenestado], [int_cuencontmov], [chr_cuenclave]) VALUES (N'00200001', N'01', N'002', N'0001', N'00008', 7000.0000, CAST(N'2008-01-05T00:00:00.000' AS DateTime), N'ACTIVO', 15, N'123456')
GO
INSERT [dbo].[Empleado] ([chr_emplcodigo], [vch_emplpaterno], [vch_emplmaterno], [vch_emplnombre], [vch_emplciudad], [vch_empldireccion], [vch_emplusuario], [vch_emplclave]) VALUES (N'0001', N'Romero', N'Castillo', N'Carlos Alberto', N'Trujillo', N'Call1 1 Nro. 456', N'cromero', N'chicho')
INSERT [dbo].[Empleado] ([chr_emplcodigo], [vch_emplpaterno], [vch_emplmaterno], [vch_emplnombre], [vch_emplciudad], [vch_empldireccion], [vch_emplusuario], [vch_emplclave]) VALUES (N'0002', N'Castro', N'Vargas', N'Lidia', N'Lima', N'Federico Villarreal 456 - SMP', N'lcastro', N'flaca')
INSERT [dbo].[Empleado] ([chr_emplcodigo], [vch_emplpaterno], [vch_emplmaterno], [vch_emplnombre], [vch_emplciudad], [vch_empldireccion], [vch_emplusuario], [vch_emplclave]) VALUES (N'0003', N'Reyes', N'Ortiz', N'Claudia', N'Lima', N'Av. Aviaci?n 3456 - San Borja', N'creyes', N'linda')
GO
INSERT [dbo].[InteresMensual] ([chr_monecodigo], [dec_inteimporte]) VALUES (N'01', CAST(0.70 AS Decimal(12, 2)))
INSERT [dbo].[InteresMensual] ([chr_monecodigo], [dec_inteimporte]) VALUES (N'02', CAST(0.60 AS Decimal(12, 2)))
GO
INSERT [dbo].[Moneda] ([chr_monecodigo], [vch_monedescripcion]) VALUES (N'01', N'Soles')
INSERT [dbo].[Moneda] ([chr_monecodigo], [vch_monedescripcion]) VALUES (N'02', N'Dolares')
GO
INSERT [dbo].[Movimiento] ([chr_cuencodigo], [int_movinumero], [dtt_movifecha], [chr_emplcodigo], [chr_tipocodigo], [dec_moviimporte], [chr_cuenreferencia]) VALUES (N'00100001', 1, CAST(N'2008-01-06T00:00:00.000' AS DateTime), N'0004', N'001', 2800.0000, NULL)
INSERT [dbo].[Movimiento] ([chr_cuencodigo], [int_movinumero], [dtt_movifecha], [chr_emplcodigo], [chr_tipocodigo], [dec_moviimporte], [chr_cuenreferencia]) VALUES (N'00100001', 2, CAST(N'2008-01-15T00:00:00.000' AS DateTime), N'0004', N'003', 3200.0000, NULL)
INSERT [dbo].[Movimiento] ([chr_cuencodigo], [int_movinumero], [dtt_movifecha], [chr_emplcodigo], [chr_tipocodigo], [dec_moviimporte], [chr_cuenreferencia]) VALUES (N'00100001', 3, CAST(N'2008-01-20T00:00:00.000' AS DateTime), N'0004', N'004', 800.0000, NULL)
GO
INSERT [dbo].[Parametro] ([chr_paracodigo], [vch_paradescripcion], [vch_paravalor], [vch_paraestado]) VALUES (N'001', N'ITF - Impuesto a la Transacciones Financieras', N'0.08', N'ACTIVO')
INSERT [dbo].[Parametro] ([chr_paracodigo], [vch_paradescripcion], [vch_paravalor], [vch_paraestado]) VALUES (N'002', N'N?mero de Operaciones Sin Costo', N'15', N'ACTIVO')
GO
INSERT [dbo].[Sucursal] ([chr_sucucodigo], [vch_sucunombre], [vch_sucuciudad], [vch_sucudireccion], [int_sucucontcuenta], [dec_sululatitud], [dec_suculongitud], [bit_sucuisactive]) VALUES (N'001', N'Centro Histórico', N'Quito', N'Calle García Moreno 1234', 2, -0.2201600, -78.5123800, 1)
INSERT [dbo].[Sucursal] ([chr_sucucodigo], [vch_sucunombre], [vch_sucuciudad], [vch_sucudireccion], [int_sucucontcuenta], [dec_sululatitud], [dec_suculongitud], [bit_sucuisactive]) VALUES (N'002', N'La Carolina', N'Quito', N'Av. Amazonas y Naciones Unidas', 3, -0.1806500, -78.4847800, 1)
INSERT [dbo].[Sucursal] ([chr_sucucodigo], [vch_sucunombre], [vch_sucuciudad], [vch_sucudireccion], [int_sucucontcuenta], [dec_sululatitud], [dec_suculongitud], [bit_sucuisactive]) VALUES (N'003', N'Malecón 2000', N'Guayaquil', N'Av. Malecón Simón Bolívar', 0, -2.1709900, -79.9224200, 1)
GO
INSERT [dbo].[TipoMovimiento] ([chr_tipocodigo], [vch_tipodescripcion], [vch_tipoaccion], [vch_tipoestado]) VALUES (N'001', N'Apertura de Cuenta', N'INGRESO', N'ACTIVO')
INSERT [dbo].[TipoMovimiento] ([chr_tipocodigo], [vch_tipodescripcion], [vch_tipoaccion], [vch_tipoestado]) VALUES (N'002', N'Cancelar Cuenta', N'SALIDA', N'ACTIVO')
INSERT [dbo].[TipoMovimiento] ([chr_tipocodigo], [vch_tipodescripcion], [vch_tipoaccion], [vch_tipoestado]) VALUES (N'003', N'Deposito', N'INGRESO', N'ACTIVO')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [U_Empleado_vch_emplusuario]    Script Date: 04/12/2025 7:29:51 ******/
ALTER TABLE [dbo].[Empleado] ADD  CONSTRAINT [U_Empleado_vch_emplusuario] UNIQUE NONCLUSTERED 
(
	[vch_emplusuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cuenta] ADD  DEFAULT ('ACTIVO') FOR [vch_cuenestado]
GO
ALTER TABLE [dbo].[Parametro] ADD  DEFAULT ('ACTIVO') FOR [vch_paraestado]
GO
ALTER TABLE [dbo].[TipoMovimiento] ADD  DEFAULT ('ACTIVO') FOR [vch_tipoestado]
GO
ALTER TABLE [dbo].[Asignado]  WITH CHECK ADD  CONSTRAINT [fk_asignado_empleado] FOREIGN KEY([chr_emplcodigo])
REFERENCES [dbo].[Empleado] ([chr_emplcodigo])
GO
ALTER TABLE [dbo].[Asignado] CHECK CONSTRAINT [fk_asignado_empleado]
GO
ALTER TABLE [dbo].[Asignado]  WITH CHECK ADD  CONSTRAINT [fk_asignado_sucursal] FOREIGN KEY([chr_sucucodigo])
REFERENCES [dbo].[Sucursal] ([chr_sucucodigo])
GO
ALTER TABLE [dbo].[Asignado] CHECK CONSTRAINT [fk_asignado_sucursal]
GO
ALTER TABLE [dbo].[CargoMantenimiento]  WITH CHECK ADD  CONSTRAINT [fk_cargomantenimiento_moneda] FOREIGN KEY([chr_monecodigo])
REFERENCES [dbo].[Moneda] ([chr_monecodigo])
GO
ALTER TABLE [dbo].[CargoMantenimiento] CHECK CONSTRAINT [fk_cargomantenimiento_moneda]
GO
ALTER TABLE [dbo].[CostoMovimiento]  WITH CHECK ADD  CONSTRAINT [fk_costomovimiento_moneda] FOREIGN KEY([chr_monecodigo])
REFERENCES [dbo].[Moneda] ([chr_monecodigo])
GO
ALTER TABLE [dbo].[CostoMovimiento] CHECK CONSTRAINT [fk_costomovimiento_moneda]
GO
ALTER TABLE [dbo].[Cuenta]  WITH CHECK ADD  CONSTRAINT [fk_cuenta_cliente] FOREIGN KEY([chr_cliecodigo])
REFERENCES [dbo].[Cliente] ([chr_cliecodigo])
GO
ALTER TABLE [dbo].[Cuenta] CHECK CONSTRAINT [fk_cuenta_cliente]
GO
ALTER TABLE [dbo].[Cuenta]  WITH CHECK ADD  CONSTRAINT [fk_cuenta_moneda] FOREIGN KEY([chr_monecodigo])
REFERENCES [dbo].[Moneda] ([chr_monecodigo])
GO
ALTER TABLE [dbo].[Cuenta] CHECK CONSTRAINT [fk_cuenta_moneda]
GO
ALTER TABLE [dbo].[Cuenta]  WITH CHECK ADD  CONSTRAINT [fk_cuenta_sucursal] FOREIGN KEY([chr_sucucodigo])
REFERENCES [dbo].[Sucursal] ([chr_sucucodigo])
GO
ALTER TABLE [dbo].[Cuenta] CHECK CONSTRAINT [fk_cuenta_sucursal]
GO
ALTER TABLE [dbo].[Cuenta]  WITH CHECK ADD  CONSTRAINT [fk_cuente_empleado] FOREIGN KEY([chr_emplcreacuenta])
REFERENCES [dbo].[Empleado] ([chr_emplcodigo])
GO
ALTER TABLE [dbo].[Cuenta] CHECK CONSTRAINT [fk_cuente_empleado]
GO
ALTER TABLE [dbo].[InteresMensual]  WITH CHECK ADD  CONSTRAINT [fk_interesmensual_moneda] FOREIGN KEY([chr_monecodigo])
REFERENCES [dbo].[Moneda] ([chr_monecodigo])
GO
ALTER TABLE [dbo].[InteresMensual] CHECK CONSTRAINT [fk_interesmensual_moneda]
GO
ALTER TABLE [dbo].[Movimiento]  WITH CHECK ADD  CONSTRAINT [fk_movimiento_cuenta] FOREIGN KEY([chr_cuencodigo])
REFERENCES [dbo].[Cuenta] ([chr_cuencodigo])
GO
ALTER TABLE [dbo].[Movimiento] CHECK CONSTRAINT [fk_movimiento_cuenta]
GO
ALTER TABLE [dbo].[Movimiento]  WITH CHECK ADD  CONSTRAINT [fk_movimiento_empleado] FOREIGN KEY([chr_emplcodigo])
REFERENCES [dbo].[Empleado] ([chr_emplcodigo])
GO
ALTER TABLE [dbo].[Movimiento] CHECK CONSTRAINT [fk_movimiento_empleado]
GO
ALTER TABLE [dbo].[Movimiento]  WITH CHECK ADD  CONSTRAINT [fk_movimiento_tipomovimiento] FOREIGN KEY([chr_tipocodigo])
REFERENCES [dbo].[TipoMovimiento] ([chr_tipocodigo])
GO
ALTER TABLE [dbo].[Movimiento] CHECK CONSTRAINT [fk_movimiento_tipomovimiento]
GO
ALTER TABLE [dbo].[Cuenta]  WITH CHECK ADD  CONSTRAINT [chk_cuenta_chr_cuenestado] CHECK  (([vch_cuenestado]='CANCELADO' OR [vch_cuenestado]='ANULADO' OR [vch_cuenestado]='ACTIVO'))
GO
ALTER TABLE [dbo].[Cuenta] CHECK CONSTRAINT [chk_cuenta_chr_cuenestado]
GO
ALTER TABLE [dbo].[Movimiento]  WITH CHECK ADD  CONSTRAINT [chk_Movimiento_importe] CHECK  (([dec_moviimporte]>=(0.0)))
GO
ALTER TABLE [dbo].[Movimiento] CHECK CONSTRAINT [chk_Movimiento_importe]
GO
ALTER TABLE [dbo].[Parametro]  WITH CHECK ADD  CONSTRAINT [chk_parametro_vch_paraestado] CHECK  (([vch_paraestado]='CANCELADO' OR [vch_paraestado]='ANULADO' OR [vch_paraestado]='ACTIVO'))
GO
ALTER TABLE [dbo].[Parametro] CHECK CONSTRAINT [chk_parametro_vch_paraestado]
GO
ALTER TABLE [dbo].[TipoMovimiento]  WITH CHECK ADD  CONSTRAINT [chk_tipomovimiento_vch_tipoaccion] CHECK  (([vch_tipoaccion]='SALIDA' OR [vch_tipoaccion]='INGRESO'))
GO
ALTER TABLE [dbo].[TipoMovimiento] CHECK CONSTRAINT [chk_tipomovimiento_vch_tipoaccion]
GO
ALTER TABLE [dbo].[TipoMovimiento]  WITH CHECK ADD  CONSTRAINT [chk_tipomovimiento_vch_tipoestado] CHECK  (([vch_tipoestado]='CANCELADO' OR [vch_tipoestado]='ANULADO' OR [vch_tipoestado]='ACTIVO'))
GO
ALTER TABLE [dbo].[TipoMovimiento] CHECK CONSTRAINT [chk_tipomovimiento_vch_tipoestado]
GO
USE [master]
GO
